.container {
  max-width: 40%;
  border-width: 2px;
  border-color: #013d3859;
  display: block;
  margin-top: 75px;
  margin-bottom: 75px;

  border-style: dashed;
  font-family: "Nunito Sans", sans-serif;
  color: #013d38;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(5, 145, 133) 74.6%
  );
}
.byline {
  font-size: 12px;
  text-align: center;
  color: #818080;
}

form {
  margin: 15px;
}
h2 {
  padding-top: 10px;
  text-transform: capitalize;
}
h6 {
  padding-left: 10px;
  padding-top: 0px;
  font-size: 22px;
}

.welcome {
  padding-bottom: 0px;
}
.dash {
  color: white;
  opacity: 0%;
}
h3 {
  text-align: left;
}

h1 {
  padding-top: 10px;
}
